body {
    display: flex;
    flex-wrap: wrap;
}
body > div {
    flex: 1;
}
#dots {
    height: 100px;
    width: 600px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.dots {
    padding-right: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.col-2 {
    color: #29627e;
    margin: auto;
    padding: 50px;
}

#reset {
    padding: 10px;
    border-radius: 15px;
    background-color: #0a2a56;
    color: white;
    border-color: #0a2a56;
    width: 100px;
    cursor: pointer;
}

#helpful-text {
    display: none;
    font-size: 18px;
    padding-top: 15px;
    color: #D0342C;
}

#logo {
    background-image: url("images/ia-logo-back.png");
    background-repeat: no-repeat;
    height: 600px;
    width: 600px;
    margin-left: 50px;
}
#logo > div {
    height: 100px;
    width: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
}

#drop-blue {
    top: 195px;
    left: 325px;
}

#drop-red {
    top: 220px;
    left: 505px;
}

#drop-black-left {
    top: 338px;
    left: 96px;
}

#drop-green {
    top: 482px;
    left: 192px;
}

#drop-black-right {
    top: 436px;
    left: 470px;
}